@keyframes dropdownMenu {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
  }
}

@keyframes logo {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}