// MEDIA
$media-sm: 600px;
$media-md: 1100px;

// COLORS
$color-income: #29bfd7;
$color-users: #bcd74a;
$color-orders: #fe9833;
$color-complaints: #fa5050;
$color-country: #f8d74c;
$color-light-3: #eee;
$color-light-2: #ddd;
$color-light-1: #ccc;
$color-medium-1: #aaa;
$color-medium-2: #999;
$color-medium-3: #777;
$color-dark: #555;

$section-shadow: 0 2px 5px rgba($color: #000, $alpha: 0.3);
$offset--zoomButton: 10px;
$corner: 5px;
$panel-padding: 5px;

// TIME
$time-hover: 0.2s;
$time-introFade: 1s;
$time-overlay: 0.25s;