@import "_variables.scss";
@import "_mixins.scss";

.Button {
  @include button;
  @include flex-center;
  background-color: #ccc;
  justify-content: space-between;
  min-width: 150px;
  text-transform: uppercase;

  &__text {
    padding: 10px;
  }

  &--export,
  &--print {
  }
}