@import "_mixins.scss";
@import "_variables.scss";

.Controls {
  @include flex-center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__button {
    @include button;
    @include flex-center;
    padding: 5px;

    &:hover {
      background-color: #aaa;
    }

    &--minimize {
      fill: none;
      stroke: $color-dark;

      &:hover {
        stroke: #fff;
      }
    }

    &--maximize {
      fill: $color-dark;

      &:hover {
        fill: #fff;
      }
    }
  }
}
