@import "_mixins.scss";
@import "_variables.scss";

.Dropdown {

  &__button {
    @include button;
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-width: 180px;
    padding: 10px;

    &:hover {
      background-color: #ccc;
    }
  }
}
