@import "_variables.scss";
@import "_mixins.scss";

.Histogram {
  background-color: #eee;
  width: 100%;

  &--histogram {
    height: 300px;

  }

  &--summary {
    height: 200px;

  }
}
