@import "_variables.scss";
@import "_mixins.scss";

.Histogram {
  background-color: #eee;
  width: 100%;

  &--histogram {
    height: 250px;

  }

  &--summary {
    height: 200px;

  }
}

.tooltip {

  &__heading,
  &__text {
    font-size: 1rem;
    margin: 0;
    text-transform: capitalize;
  }

  &__heading {
    margin-bottom: 5px;
  }
}