@import "_mixins.scss";
@import "_variables.scss";

.TextPanel {
  @include flex-center;
  background-color: #fff;
  border-radius: $corner;
  box-shadow: $section-shadow;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  &--profit {
    grid-area: profit;
  }

  &--users {
    grid-area: users;
  }

  &--orders {
    grid-area: orders;
  }

  &--complaints {
    grid-area: complaints;
  }

  &__stats {
    align-items: center;
    display: grid;
    grid-template-areas:
      "value   value     "
      "heading percentage";
    padding: $panel-padding;
    width: 100%;
  }

  &__footer {
    align-items: center;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__heading,
  &__value,
  &__percentage {
    margin: 0;
  }

  &__heading {
    font-size: 1em;
    grid-area: heading;
    text-transform: uppercase;
  }

  &__value {
    font-size: 2.5em;
    grid-area: value;
  }

  &__percentage {
    color: $color-users;
    font-size: 1.2em;
    justify-self: end;
    grid-area: percentage;
  }

  &__dropdown {
    border: none;
    background: none;
    padding: $panel-padding;
    text-transform: uppercase;
  }

  &__option {
    background: none;
    padding: $panel-padding;
  }
}
