@import "_variables.scss";
@import "_mixins.scss";

.VisualPanel {
  @include flex-center;
  background-color: #fff;
  border-radius: $corner;
  box-shadow: $section-shadow;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &--histogram {
    grid-area: histogram;
  }

  &--map {
    grid-area: map;
    position: relative;
  }

  &--summary {
    grid-area: summary;
  }

  &__header {
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: $panel-padding;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__heading {
    font-size: 1rem;
    margin: 0;
    padding-left: 10px;
    text-transform: uppercase;

    &--info {
      color: $color-medium-1;
      font-size: 0.9rem;
      font-weight: normal;
      text-transform: lowercase;
    }
  }

  &__button {
    @include button;
    @include flex-center;
    fill: $color-dark;
    padding: 5px;

    &:hover {
      background-color: $color-medium-1;
      fill: #fff;
    }

    @media only screen and (max-width: $media-md) {
      display: none;
    }
  }

  &__alert {
    @include flex-center;
    background-color: $color-light-3;
    color: $color-medium-1;
    height: 100%;
    margin-top: 20px;
    width: 100%;
  }

  &__overlay {
    @include flex-center;
    background-color: rgba($color: #000, $alpha: 0);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color $time-overlay, visibility $time-overlay;
    visibility: hidden;
    z-index: 1;

    &--visible {
      background-color: rgba($color: #000, $alpha: 0.2);
      visibility: visible;
    }
  }
}
