@import "_variables.scss";
@import "_mixins.scss";

.VisualPanel {
  background-color: #fff;
  border-radius: $corner;
  box-shadow: $section-shadow;
  position: relative;
  overflow: hidden;

  &--histogram {
    grid-area: histogram;
  }

  &--map {
    grid-area: map;
    position: relative;
  }

  &--summary {
    grid-area: summary;
  }

  &__header {
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__heading {
    font-size: 1.2em;
    margin: 0;
    padding: $panel-padding;
    text-transform: uppercase;
  }

  &__button {
    @include button;
    @include flex-center;
    fill: $color-dark;
    padding: 5px;

    &:hover {
      background-color: #aaa;
      fill: #fff;
    }

    @media only screen and (max-width: $media-md) {
      display: none;
    }
  }
}
